{% use '_blocks.html.twig' %}

<!DOCTYPE HTML>

<html lang="fr" style="background:#202124;"> 
	<head>
		
		<!-- OneTrust Cookies Consent Notice start for blick.ch -->
		<script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" data-document-language="true" type="text/javascript" charset="UTF-8" data-domain-script="d57e5842-f42f-46bc-a4ea-4a82bd82322c" ></script>
		<script type="text/javascript">
		function OptanonWrapper() { }
		</script>
		<!-- OneTrust Cookies Consent Notice end for blick.ch --> 

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Caprasimo&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,800&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Forum&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
		<link rel="stylesheet" href="css/main.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
		{# <?php include 'hb_card_tp.php'; ?> #}
		{{ block('head_brand') }}
	</head>

	{% raw %}  
		<script id="slide-template" type="text/x-handlebars-template">
			{{#each slide}}
			<div id="swiper-slide-{{indexFormatter @index}}" class="swiper-slide bg-cover relative" style="{{#if bgColor}}background:{{bgColor}}{{else}}background-image:url('{{bgUrl}}'){{/if}}">
				<!-- <div class="gradient absolute w-full h-full md:h-1/2 bottom-0"></div> -->
				{{#if overlay}}<div class="gradient2 w-full absolute top-0 right-0- bottom-0 left-0"></div>{{/if}}
				{{#if overlay2}}<div class="gradient absolute w-full top-1/2 md:top-0 right-0 bottom-0 left-0 bg-red"></div>{{/if}}
			</div>
			{{/each}}
		</script>
	{% endraw %}

	{% raw %} 
		<script id="content-template" type="text/x-handlebars-template">
			{{#each content}}
				<!-- CONTENT INTRO -->
				{{#if isTitle}}
				<section class="section{{indexFormatter @index}} title container intro py-8 mb-96 max-w-6xl bg-transparent overflow-auto relative">
					<div class="text-center md:text-left container w-full md:w-3/5 absolute md:bottom-1/2 md:bottom-16 bottom-4 translate-y-0">
						<h1 class="text-white text-3xl md:text-6xl mb-3 md:mb-8 drop-shadow-md">{{{title}}}</h1>
						<!-- <p class="font-light text-white text-lg md:text-xl opacity-80">Demandez le programme! Voici ce qui attend nos stars</p> -->
						<p class="chapo text-white text-base md:text-xl drop-shadow-md">{{{chapo}}}</p>
						{% endraw %}{{ block('scroller') }}{% raw %}  		
					</div>
					<div id="trigger{{indexFormatter @index}}" class="trigger absolute top-8 w-full h-1"></div>
				</section>    

				<!-- CONTENT CREDITS -->
				{{else if isCredits}}
				<section class="credits container py-8 max-w-6xl overflow-auto relative">
					<div class="w-80 absolute top-1/2 left-1/2 -translate-x-2/4 -translate-y-2/4">
						{% endraw %}{{ block('credits') }}{% raw %}  		
					</div>
									

					<div id="trigger{{indexFormatter @index}}" class="trigger absolute top-8 w-full h-1"></div>
				</section> 
				{{else}}
				
				<!-- CONTENT NORMAL -->
				<section class="container max-w-6xl overflow-auto relative mb-custom-section">
					<div class="{{colClasses}}">
						<p class="surtitre text-white inline-block px-2 rounded-full font-bold italic" style="background-color: {{color}};">{{{field1}}}</p>
						<h3 class="text-white mt-4 md:mt-6 mb-2" style="text-shadow: 5px 5px {{color}};">{{{field2}}}</h3>
						<h4 class="text-white mb-4 md:mb-10" style="text-shadow: 3px 3px black;">{{{field3}}}</h4>


						
						{{#if textAlt}}
						<h5 class="text-white mt-6 mb-2 text-3xl md:text-4xl mb-8">{{{interTextAlt}}}</h5>
						<p class="text-white leading-relaxed text-base md:text-xl ">{{textAlt}}</p>
						{{else}}
						
						<p class="bg text-white text-base md:text-xl rounded-xl md:rounded-3xl border-4 p-3 md:p-6 mx-0 md:-mx-6" style="border-color: {{color}}">{{{text}}}</p>
						{{/if}}
					</div>
					<div id="trigger{{indexFormatter @index}}" class="trigger absolute top-8 w-full h-1"></div>
				</section> 
				{{/if}}
				
			{{/each}}
		</script>
	{% endraw %}


	<body>
		{{ block('gtm') }} 
		{{ block('header') }}      

		<!-- IMAGES ONLY HERE -->
		<div class="swiper scene fixed w-full bg-center bg-cover"> 
			<div class="swiper-wrapper"><!-- SLIDES ARE GENERATED HERE --></div>
		</div>
		
		<!-- SCROLL CONTENT -->
		<div class="content container max-w-screen-2xl px-4 relative z-10"><!-- SCROLL CONTENT IS GENERATED HERE --></div>	
			
		<script src="js/vendor/modernizr-3.11.2.min.js"></script> 
		<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script> -->
		<script src="js/ScrollMagic.min.js"></script>
		<!-- <script src="js/debug.addIndicators.min.js"></script> -->
		<!-- <script src="js/isInViewport.min.js"></script> -->
		<script src="js/main.js"></script>
		<!-- <script src="js/animations.js"></script> -->
		<script src="js/headroom.min.js"></script>
		<script src="https://cdn.tailwindcss.com"></script>

		
		<!-- <script>
			window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
			ga('create', 'G-BVVLW3LSNH', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
		</script>
		<script src="https://www.google-analytics.com/analytics.js" async></script> -->
			
		</div>  
		
	</body>
</html>
